.vim/bundle/**
~.vim/bundle/vundle
.account
.apdisk
.bash_history
.cache
.cups/
.CFUserTextEncoding
.dat020e.052
.dropbox
.DS_Store
.FileSync
.gem
.subversion
.Trash
.viminfo
Adlm
Applications
code
Desktop
Documents
Downloads
Dropbox
learning
Library
Movies
Music
Pictures
Public
Sites
