.vim/bundle/**
~.vim/bundle/vundle
.account
.adobe
.apdisk
.atom/
.bash_history
.berkshelf
.cache
.cups/
.CFUserTextEncoding
.dat020e.052
.dropbox
.dropbox-master
.DS_Store
.FileSync
.fontconfig
.gem
.heroku
.hgignore_global
.lesshst
.netrc
.pow
.pry_history
.Rapp.history
.RData
.Rhistory
.rnd
.Rprofile
.rstudio-desktop/
.sqlite_history
.ssh/
.subversion
.swipl-dir-history/
.Trash
.vagrant.d
.viminfo
.Xauthority
Adlm
Applications
code
Desktop
Documents
Downloads
Dropbox
learning
Library
Movies
Music
Pictures
Public
Sites
tmp
www
